@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Ana Menü" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Giriş</FluentNavLink>
            <FluentNavGroup Title="Katalog" Icon="@(new Icons.Regular.Size20.EarthLeaf())" Expanded="true">
                <ChildContent>
                    <FluentNavLink Href="Catalog/Product/Products" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Ürünler</FluentNavLink>
                    <FluentNavLink Href="Catalog/Category/Categories" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Kategoriler</FluentNavLink>
                    <FluentNavLink Href="Catalog/Brand/Brands" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Markalar</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            <FluentNavGroup Title="Satış" Icon="@(new Icons.Regular.Size20.EarthLeaf())" Expanded="true">
                <ChildContent>
                    <FluentNavLink Href="Order/Orders" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Siparişler</FluentNavLink>
                    <FluentNavLink Href="Order/Shipments" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Gönderiler</FluentNavLink>
                    <FluentNavLink Href="Invoice/Invoices" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Faturalar</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
            <FluentNavGroup Title="Senkronizasyon Ayarları" Icon="@(new Icons.Regular.Size20.EarthLeaf())" Expanded="true">
                <ChildContent>
                    <FluentNavLink Href="Account/Settings/General" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Genel Ayarlar</FluentNavLink>
                    <FluentNavLink Href="Account/Settings/Product" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Ürün Ayarları</FluentNavLink>
                    <FluentNavLink Href="Account/Settings/Order" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Sipariş Ayarları</FluentNavLink>
                </ChildContent>
            </FluentNavGroup>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}
