@rendermode InteractiveServer
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using System.Text
@inject IPostHelper PostHelper
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager NavigationManager

@if (customer_id > 0 && customer_logs != null) {
    <FluentGrid Justify="JustifyContent.SpaceBetween" Spacing="2">
        <FluentGridItem xs="12">
            <FluentToolbar style="width:100%;border-radius:5px;padding:5px !important;" Orientation="Orientation.Horizontal">
                <FluentIcon Value="@(new Icons.Filled.Size20.ReadingList())" Slot="start" Color="Color.Accent" />
                <FluentBadge>Olay Günlükleri</FluentBadge>
                <FluentSelect Disabled="@loading" ValueChanged="@(e => workerFilter = e)" Value="@workerFilter" TOption="string" Width="150px" Appearance="Appearance.Stealth" Style="margin-right:10px;" slot="end">
                    <FluentOption Value="" Selected="true">Tüm Bölümler</FluentOption>
                    <FluentOption Value="product">Ürün</FluentOption>
                    <FluentOption Value="notification">Bildirim</FluentOption>
                    <FluentOption Value="order">Sipariş</FluentOption>
                    <FluentOption Value="shipment">Gönderi</FluentOption>
                    <FluentOption Value="main_thread">Ana Program</FluentOption>
                    <FluentOption Value="customer">Kullanıcı</FluentOption>
                    <FluentOption Value="helper_instance">Yardımcı Program</FluentOption>
                    <FluentOption Value="xml">XML</FluentOption>
                </FluentSelect>
                <FluentTextField @bind-Value="@messageFilter" Disabled="@loading" Placeholder="Ara" Style="margin-right:10px;" slot="end">
                    <FluentIcon Value="@(new Icons.Regular.Size16.Search())" Color="@Color.Neutral" Slot="end" />
                </FluentTextField>
                <FluentButton Appearance="Appearance.Outline" OnClick="Refresh" Loading="@loading" Disabled="@loading" IconStart="@(new Icons.Regular.Size20.Filter())" Style="margin-right:10px;" Slot="end">Filtrele</FluentButton>
                <FluentButton Appearance="Appearance.Outline" OnClick="ClearFilters" Loading="@loading" Disabled="@loading" IconStart="@(new Icons.Regular.Size20.Broom())" Slot="end">Temizle</FluentButton>
            </FluentToolbar>
        </FluentGridItem>
    </FluentGrid>
    <FluentGridItem xs="12">
        <FluentPaginator State="@pagination" CurrentPageIndexChanged="Refresh">
            <SummaryTemplate>
                <div style="display:flex;align-items:center;">
                    <FluentSelect TOption="int" Width="120px" ValueChanged="@(async (e) => await OnItemsPerPageChanged(e))">
                        <FluentOption Value="10" Selected="@(pagination.ItemsPerPage == 10)">10 adet</FluentOption>
                        <FluentOption Value="20" Selected="@(pagination.ItemsPerPage == 20)">20 adet</FluentOption>
                        <FluentOption Value="50" Selected="@(pagination.ItemsPerPage == 50)">50 adet</FluentOption>
                    </FluentSelect>
                    <FluentLabel Typo="Typography.Body">&nbsp;&nbsp;Toplam: <strong>@(pagination.TotalItemCount ?? 0)</strong> girdi</FluentLabel>
                </div>
            </SummaryTemplate>
            <PaginationTextTemplate>
                <strong>@(pagination.CurrentPageIndex + 1)</strong> / <strong>@(pagination.LastPageIndex + 1)</strong> sayfa
            </PaginationTextTemplate>
        </FluentPaginator>
    </FluentGridItem>
    <FluentGridItem xs="12">
        <FluentDataGrid Id="logs-grid" Items="@customer_logs" RowSize="DataGridRowSize.Small" GenerateHeader="GenerateHeaderOption.Sticky"
                        TGridItem="Log" Virtualize="true" Loading="loading" DisplayMode="DataGridDisplayMode.Grid" ShowHover="true">
            <ChildContent>
                <PropertyColumn Title="ID" Property="@(l => l.id)" Width="100px" TooltipText="@(l => l.thread_id)" Tooltip="true" Align="Align.End" Sortable="true" />
                <PropertyColumn Title="Bölüm" Property="@(l => l.worker)" Width="150px" Align="Align.Center" />
                <PropertyColumn Title="Olay Adı" Property="@(l => l.title)" TooltipText="@(l => l.title)" Tooltip="true" Width="200px" Align="Align.Center" />
                <PropertyColumn Title="Olay İçeriği" Property="@(l => l.message)" TooltipText="@(l => l.message)" Tooltip="true" Align=" Align.Baseline" />
                <PropertyColumn Title="Tarih" Property="@(l => l.update_date)" Width="200px" Format="dd.MM.yyyy HH:mm:ss" Align="Align.Center" />
            </ChildContent>
            <EmptyContent>
                <FluentLayout>
                    <ChildContent>
                        <span style="color: #9f9f9f;font-weight: bold"><i>Veri Yok.</i></span>
                    </ChildContent>
                </FluentLayout>
            </EmptyContent>
            <LoadingContent>
                <FluentLayout Orientation="Orientation.Horizontal">
                    <ChildContent>
                        <FluentProgressRing />
                    </ChildContent>
                </FluentLayout>
            </LoadingContent>
        </FluentDataGrid>
    </FluentGridItem>
}
else {
    <FluentProgress Width="100%" Stroke="ProgressStroke.Small"></FluentProgress>
}

@code {
    [Parameter]
    public int customer_id { get; set; } = 0;
    public bool loading = false;
    private IQueryable<Log>? customer_logs { get; set; } = null;
    private string messageFilter = "";
    private string workerFilter = "";
    private string titleFilter = "";
    private DateTime? dateFilter = null;
    private PaginationState pagination = new PaginationState() { ItemsPerPage = 20 };

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await Refresh();
        }
    }

    protected async Task Refresh() {
        await LoadLogs();
    }

    private async Task LoadLogs() {
        try {
            loading = true;
            var apifilter = new ApiFilter() {
                    Pager = new Pager() {
                        ItemsPerPage = pagination.ItemsPerPage,
                        CurrentPageIndex = pagination.CurrentPageIndex
                    },
                    Filters = new List<Filter<dynamic>>(),
                };
            if (!string.IsNullOrWhiteSpace(messageFilter)) {
                apifilter.Filters.Add(new Filter<dynamic>() {
                        Field = "message",
                        Operator = "LIKE",
                        Value = "%" + messageFilter + "%"
                    });
            }
            if (!string.IsNullOrWhiteSpace(titleFilter)) {
                apifilter.Filters.Add(new Filter<dynamic>() {
                        Field = "title",
                        Operator = "LIKE",
                        Value = "%" + titleFilter + "%"
                    });
            }
            if (!string.IsNullOrWhiteSpace(workerFilter)) {
                apifilter.Filters.Add(new Filter<dynamic>() {
                        Field = "worker",
                        Operator = "LIKE",
                        Value = "%" + workerFilter + "%"
                    });
            }
            if (dateFilter != null) {
                apifilter.Filters.Add(new Filter<dynamic>() {
                        Field = "date",
                        Operator = "=",
                        Value = dateFilter
                    });
            }
            string json = JsonConvert.SerializeObject(apifilter);
            var response = await PostHelper.Request<List<Log>>(HttpContextAccessor?.HttpContext?.User?.FindFirst(Variables.auth_token)?.Value,
                Classes.PostHelper.PostMethod.Post, Classes.PostHelper.PostDestination.Api,
                "api/Customer/" + customer_id.ToString() + "/GetCustomerLogs",
                new StringContent(json, Encoding.UTF8, "application/json")
                );

            if (response != null && response.Success && response.Data != null) {
                customer_logs = response.Data.AsQueryable();
                if (response.ApiFilter != null) {
                    await pagination.SetTotalItemCountAsync(response.ApiFilter.TotalCount.GetValueOrDefault());
                }
            }
            else {
                //TODO: Inform customer api returns error
                customer_logs = new List<Log>().AsQueryable();
                await pagination.SetTotalItemCountAsync(0);
            }
        }
        catch (Exception ex) {
            Console.WriteLine(ex.Message);
            customer_logs = null;
        }
        finally {
            loading = false;
            StateHasChanged();
        }
    }

    private async Task OnItemsPerPageChanged(string newItemsPerPage) {
        pagination.ItemsPerPage = int.Parse(newItemsPerPage);
        await pagination.SetCurrentPageIndexAsync(0); // Reset to the first page
        await Refresh();
    }

    public async void ClearFilters() {
        messageFilter = "";
        workerFilter = "";
        titleFilter = "";
        dateFilter = null;
        await pagination.SetCurrentPageIndexAsync(0);
        await Refresh();
    }
}
