@rendermode InteractiveServer
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using System.Text
@inject IPostHelper PostHelper
@inject IHttpContextAccessor HttpContextAccessor

<FluentGridItem xs="12" Style="display:contents;">
    <FluentGridItem xs="12" Style="width:100%;height:30px;">
    </FluentGridItem>
    @foreach (var item in product_images) {
        <FluentGridItem lg="3" md="4" xs="6" Style="@("margin:5px;border:1px dashed " + (item.id > 0 ? "var(--accent-fill-rest)" : "green") + ";border-radius:3px;")">
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <img style="width:250px;padding:15px;"
                     src="@(item.id > 0 ? (@"media\catalog\product\" + item.image_url) : @"temp\"+ item.image_url )"
                     alt="@(Path.GetFileNameWithoutExtension(item.image_name))" />
            </FluentGridItem>
            <FluentDivider Style="max-width:100%;margin-top:0 !important;" />
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <span>@item.image_name</span>
            </FluentGridItem>
            <FluentGridItem xs="12" Justify="JustifyContent.Center" Style="height:30px;">
                <FluentBadge Appearance="Appearance.Accent">Tip:&nbsp;@item.type.ToString().ToUpper()</FluentBadge>
                @if (item.is_default) {
                    <span>&nbsp;&nbsp;</span>
                    <FluentBadge Appearance="Appearance.Accent">KAPAK</FluentBadge>
                }
            </FluentGridItem>
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <FluentButton Id="@("image-delete-button" + item.image_name)" Appearance="Appearance.Outline" OnClick="@(() => DeleteImage(item.image_name))" IconStart="@(new Icons.Regular.Size12.Delete())" Style="margin:5px;" />
                @if (!item.is_default) {
                    <FluentButton Id="@("image-makedefault-button" + item.image_name)" OnClick="@(() => MakeDefaultImage(item.id))" Appearance="Appearance.Outline" IconStart="@(new Icons.Regular.Size12.CheckmarkCircle())" Style="margin:5px;" />
                    <FluentTooltip AutoUpdateMode="AutoUpdateMode.Anchor" Anchor="@("image-makedefault-button" + item.image_name)" Position="TooltipPosition.Bottom">
                        <i>KAPAK</i> resmi yap.
                    </FluentTooltip>
                }
            </FluentGridItem>
        </FluentGridItem>
    }
    @foreach (var item in deleted_images) {
        <FluentGridItem lg="3" md="4" xs="6" Style="margin:5px;border:1px dashed red;border-radius:3px;">
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <img style="width:250px;padding:15px;"
                     src="@(@"media\catalog\product\" + item.image_url)"
                     alt="@(Path.GetFileNameWithoutExtension(item.image_name))" />
            </FluentGridItem>
            <FluentDivider Style="max-width:100%;margin-top:0 !important;" />
            <FluentGridItem xs="12" Justify="JustifyContent.Center">
                <span>@item.image_name</span>
            </FluentGridItem>
            <FluentGridItem xs="12" Justify="JustifyContent.Center" Style="height:30px;">
                <FluentBadge Appearance="Appearance.Accent">Tip:&nbsp;@item.type.ToString().ToUpper()</FluentBadge>
            </FluentGridItem>
        </FluentGridItem>
    }
</FluentGridItem>
<FluentGridItem xs="12">
    <FluentInputFile @ref="@ProductImageByStream"
                     Id="product-image-uploader"
                     DragDropZoneVisible="true"
                     Mode="InputFileMode.Stream"
                     Multiple="true"
                     MaximumFileCount="10"
                     MaximumFileSize="@(10*1024*1024)"
                     Accept="image/*"
                     @bind-ProgressPercent="@ProgressPercent"
                     OnFileUploaded="@OnFileUploadedAsync"
                     OnCompleted="@OnCompleted">
        <ChildContent>
            <label for="product-image-uploader" style="margin-top:10px;">
                <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
            </label>
            <div>
                Resimlerinizi(<label>max:10MB</label>) yüklemek için buraya sürükleyin,
                veya <label for="product-image-uploader">göz atın</label>
                ve seçin<span style="color: red;">*</span>.
                <br />
                <em><span style="color: red;">*</span>En fazla 10 resim yükleyebilirsiniz.</em>
                <br />
                <em><span style="color: red;">*</span>Ürün isimleri benzersiz olmalıdır.</em>
            </div>
        </ChildContent>
        <ProgressTemplate>
            <FluentProgress Width="100%" Stroke="ProgressStroke.Small" Value="@ProgressPercent" />
            <FluentLabel Typo="Typography.Body" Color="Color.Accent">
                @($"{ProgressPercent}%")
            </FluentLabel>
        </ProgressTemplate>
    </FluentInputFile>
</FluentGridItem>

@code {
    [Parameter]
    public List<ProductImage> product_images { get; set; }
    public List<ProductImage> deleted_images { get; set; } = new();
    [Parameter]
    public string sku { get; set; }
    [Parameter]
    public int product_id { get; set; }
    private string? username = null;
    private int customer_id = 0;

    private int ProgressPercent = 0;
    string? progressTitle;
    private FluentInputFile? ProductImageByStream = default!;
    Dictionary<string, string> Files = new();

    protected override void OnParametersSet() {
        username = HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value;
        customer_id = int.Parse(HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(x => x.Type == Variables.customer_id)?.Value ?? "0");
    }

    private async Task OnFileUploadedAsync(FluentInputFileEventArgs file) {
        try {
            ProgressPercent = file.ProgressPercent;
            progressTitle = file.ProgressTitle;
            if (!string.IsNullOrWhiteSpace(username)) {
                if (product_images.FirstOrDefault(x => x.image_name == file.Name) != null) {
                    await file.Stream!.DisposeAsync();
                    ProgressPercent = 0;
                    progressTitle = "Dosya zaten var.";
                    return;
                }
                // Check if the folder is exists, if not create it
                var tempPath = Path.Combine("wwwroot", "temp", username, sku);
                if (!Directory.Exists(tempPath)) {
                    Directory.CreateDirectory(tempPath);
                }
                var localFile = Path.Combine("wwwroot", "temp", username, sku, file.Name);

                await using FileStream fs = new(localFile, FileMode.Create);
                await file.Stream!.CopyToAsync(fs);
                await file.Stream!.DisposeAsync();
                Files.Add(file.Name, localFile);
                var image = new ProductImage {
                        id = 0,
                        customer_id = customer_id,
                        sku = sku,
                        image_name = file.Name,
                        type = ImageTypes.url,
                        image_url = Path.Combine(username, sku, file.Name),
                        is_default = product_images.Count == 0,
                        image_base64 = null
                    };
                product_images.Add(image);
            }
        }
        catch (Exception ex) {
            Trace.WriteLine(ex.Message);
        }
    }

    private void OnCompleted(IEnumerable<FluentInputFileEventArgs> files) {
        ProgressPercent = ProductImageByStream!.ProgressPercent;
        progressTitle = ProductImageByStream!.ProgressTitle;
    }

    private void MakeDefaultImage(int imageId) {
        foreach (var img in product_images) {
            img.is_default = img.id == imageId;
        }
    }

    private void DeleteImage(string fileName) {
        try {
            var deleted_image = product_images.FirstOrDefault(x => x.image_name == fileName);
            if (deleted_image != null) {
                if (deleted_image.id == 0) {
                    var filePath = Files[fileName];
                    if (File.Exists(filePath)) {
                        File.Delete(filePath);
                    }
                    product_images.Remove(deleted_image);
                    Files.Remove(fileName);
                }
                else {
                    deleted_images.Add(deleted_image);
                    product_images.Remove(deleted_image);
                }
            }
        }
        catch (Exception ex) {
            Trace.WriteLine($"Error deleting image: {ex.Message}");
        }
    }
}
