@attribute [Authorize]
@page "/Account/Profile"
@using Newtonsoft.Json
@using System.Text
@inject IPostHelper PostHelper
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager navigationManager

<PageTitle>Hesap > Profil | Merchanter</PageTitle>

<FluentLabel Typo="Typography.H1"><FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size28.Person())" />&nbsp;Firma Profili</FluentLabel>

@if (HttpContextAccessor?.HttpContext?.User.Identity != null && HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated && customer != null) {
    <FluentLayout Orientation="Orientation.Vertical">
        <FluentGrid>
            <FluentGridItem xs="12">
                <FluentToolbar id="toolbar" style="width:100%;border-radius:5px;padding:5px !important;">
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => SetActiveTab("settings") )" Disabled="@(settings_active)" IconStart="@(new Icons.Regular.Size20.Settings())">Settings</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => SetActiveTab("platforms") )" Disabled="@(platforms_active)" IconStart="@(new Icons.Regular.Size20.Apps())">Platforms</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => SetActiveTab("integrations") )" Disabled="@(integrations_active)" IconStart="@(new Icons.Regular.Size20.AppFolder())">Integrations</FluentButton>
                    <FluentButton Appearance="Appearance.Neutral" OnClick="@(() => SetActiveTab("logs") )" Disabled="@(logs_active)" IconStart="@(new Icons.Regular.Size20.ReadingList())">Logs</FluentButton>
                    <FluentBadge>Lisans bitimine kalan gün:&nbsp;<strong>999</strong></FluentBadge>
                    <FluentButton Appearance="Appearance.Accent" OnClick="@(() => SaveCustomer(customer) )" IconStart="@(new Icons.Regular.Size20.Save())" slot="end">Firma Bilgilerini Kaydet</FluentButton>
                    <FluentIcon Value="@(new Icons.Filled.Size20.Person())" Slot="end" Color="Color.Accent" />
                </FluentToolbar>
            </FluentGridItem>
            @if (!string.IsNullOrWhiteSpace(page_message)) {
                <FluentGridItem xs="12">
                    <AlertComponent page_message="@page_message" message_status="@message_status" />
                </FluentGridItem>
            }
            <FluentGridItem xs="12" lg="4">
                <FluentGrid Justify="JustifyContent.SpaceBetween" Spacing="2">
                    <FluentGridItem md="6">
                        <FluentEditForm Model="customer" class="container-fluid" OnValidSubmit="@(() => SaveCustomer(customer))">
                            <FluentTextField @bind-Value="@customer.user_name" TextFieldType="TextFieldType.Text" Width="100%" Label="Kullanıcı Adı" Placeholder="User Name cannot be empty!">
                                <FluentIcon Value="@(new Icons.Regular.Size20.CodeTextEdit())" Slot="start" Color="Color.Neutral" />
                            </FluentTextField>
                        </FluentEditForm>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentTextField @bind-Value="@customer.password" TextFieldType="TextFieldType.Password" Width="100%" Label="Şifre" Placeholder="Password cannot be empty!">
                            <FluentIcon Value="@(new Icons.Regular.Size20.Password())" Slot="start" Color="Color.Neutral" />
                        </FluentTextField>
                    </FluentGridItem>
                    <FluentDivider Style="width: 100%;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentDivider Style="width: 100%;margin:5px 0 5px 0;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentGridItem md="6" Justify="JustifyContent.FlexStart">
                        <FluentSwitch @bind-Value="@customer.product_sync_status">
                            <span slot="checked-message">Ürün Senk. Açık</span>
                            <span slot="unchecked-message">Ürün Senk. Kapalı</span>
                        </FluentSwitch>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentNumberField @bind-Value="@customer.product_sync_timer" Label="Ürün Senk. Sıklığı(sn)" />
                    </FluentGridItem>
                    <FluentDivider Style="width: 100%;margin:5px 0 5px 0;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentGridItem md="6" Justify="JustifyContent.FlexStart">
                        <FluentSwitch @bind-Value="@customer.order_sync_status">
                            <span slot="checked-message">Sipariş Senk. Açık</span>
                            <span slot="unchecked-message">Sipariş Senk. Kapalı</span>
                        </FluentSwitch>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentNumberField @bind-Value="@customer.order_sync_timer" Label="Sipariş Senk. Sıklığı(sn)" />
                    </FluentGridItem>
                    <FluentDivider Style="width: 100%;margin:5px 0 5px 0;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentGridItem md="6" Justify="JustifyContent.FlexStart">
                        <FluentSwitch @bind-Value="@customer.notification_sync_status">
                            <span slot="checked-message">Bildirim Senk. Açık</span>
                            <span slot="unchecked-message">Bildirim Senk. Kapalı</span>
                        </FluentSwitch>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentNumberField @bind-Value="@customer.notification_sync_timer" Label="Bildirim Senk. Sıklığı(sn)" />
                    </FluentGridItem>
                    <FluentDivider Style="width: 100%;margin:5px 0 5px 0;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentGridItem md="6" Justify="JustifyContent.FlexStart">
                        <FluentSwitch @bind-Value="@customer.invoice_sync_status">
                            <span slot="checked-message">Fatura Senk. Açık</span>
                            <span slot="unchecked-message">Fatura Senk. Kapalı</span>
                        </FluentSwitch>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentNumberField @bind-Value="@customer.invoice_sync_timer" Label="Fatura Senk. Sıklığı(sn)" />
                    </FluentGridItem>
                    <FluentDivider Style="width: 100%;margin:5px 0 5px 0;" Orientation=Orientation.Horizontal Role="DividerRole.Separator" />
                    <FluentGridItem md="6" Justify="JustifyContent.FlexStart">
                        <FluentSwitch @bind-Value="@customer.xml_sync_status">
                            <span slot="checked-message">XML Senk. Açık</span>
                            <span slot="unchecked-message">XML Senk. Kapalı</span>
                        </FluentSwitch>
                    </FluentGridItem>
                    <FluentGridItem md="6">
                        <FluentNumberField @bind-Value="@customer.xml_sync_timer" Label="XML Senk. Sıklığı(sn)" />
                    </FluentGridItem>
                </FluentGrid>
            </FluentGridItem>
            <FluentGridItem xs="12" lg="8">
                test1
            </FluentGridItem>
        </FluentGrid>
    </FluentLayout>
}
@code {
    string? value1, value2, text1;
    public int customer_id { get; set; } = 0;
    public Customer customer { get; set; }
    private string page_message = string.Empty;
    private string? message_status = null;
    [SupplyParameterFromQuery(Name = "ActiveTab")]
    public string? ActiveTab { get; set; } = "settings";
    public bool settings_active = true;
    public bool logs_active = false;
    public bool integrations_active = false;
    public bool platforms_active = false;

    protected override async Task OnInitializedAsync() {
        if (int.TryParse(HttpContextAccessor.HttpContext?.User.Claims.FirstOrDefault(x => x.Type == Variables.customer_id)?.Value, out int CID)) {
            customer_id = CID;
            await LoadCustomer();
        }
    }

    protected async Task LoadCustomer() {
        var response = await PostHelper.Request<Customer>(HttpContextAccessor?.HttpContext?.User?.FindFirst(Variables.auth_token)?.Value,
                    Classes.PostHelper.PostMethod.Get, Classes.PostHelper.PostDestination.Server,
                    "api/Customer/" + customer_id.ToString() + "/GetCustomer");

        if (response != null && response.Success && response.Data != null) {
            customer = response.Data;
            if (customer != null) {
                page_message = string.Empty;
            }
            else {
                message_status = "işlem başarısız";
                page_message = "[" + DateTime.Now.ToString() + "]" + " Müşteri bulunamadı.";
            }
        }
        else {
            message_status = "işlem uygulanamadı";
            page_message = "[" + DateTime.Now.ToString() + "]" + " Merchanter Server ServiceAPI yanıt vermiyor.";
        }
    }

    private async Task SaveCustomer(Customer _customer) {
        string json = JsonConvert.SerializeObject(_customer);
        var response = await PostHelper.Request<Merchanter.Classes.Customer>(HttpContextAccessor?.HttpContext?.User?.FindFirst(Variables.auth_token)?.Value,
        Classes.PostHelper.PostMethod.Put, Classes.PostHelper.PostDestination.Server,
        "api/Customer/" + _customer.customer_id.ToString() + "/SaveCustomer", new StringContent(json, Encoding.UTF8, "application/json"));

        if (response != null && response.Success && response.Data != null) {
            customer = response.Data;
            if (customer != null) {
                message_status = "işlem başarılı";
                page_message = "[" + DateTime.Now.ToString() + "]" + " Güncelleme başarılı.";
            }
            else {
                message_status = "işlem başarısız";
                page_message = "[" + DateTime.Now.ToString() + "]" + " Güncelleme yapılamadı.";
            }
        }
        else {
            message_status = "işlem uygulanamadı";
            page_message = "[" + DateTime.Now.ToString() + "]" + " Merchanter Server ServiceAPI yanıt vermiyor.";
        }
    }

    private async Task SetActiveTab(string tab) {
        if (tab == "logs") {
            logs_active = true;
            settings_active = false;
            integrations_active = false;
            platforms_active = false;
            ActiveTab = "logs";
            navigationManager.NavigateTo("/Account/Profile?ActiveTab=logs");
        }
        else if (tab == "settings") {
            logs_active = false;
            settings_active = true;
            integrations_active = false;
            platforms_active = false;
            ActiveTab = "settings";
            navigationManager.NavigateTo("/Account/Profile?ActiveTab=settings");
        }
        else if (tab == "integrations") {
            logs_active = false;
            settings_active = false;
            integrations_active = true;
            platforms_active = false;
            ActiveTab = "integrations";
            navigationManager.NavigateTo("/Account/Profile?ActiveTab=integrations");
        }
        else if (tab == "platforms") {
            logs_active = false;
            settings_active = false;
            integrations_active = false;
            platforms_active = true;
            ActiveTab = "platforms";
            navigationManager.NavigateTo("/Account/Profile?ActiveTab=platforms");
        }
        await Task.CompletedTask;
    }
}
